---
layout: page
permalink: /archive/
---

<link rel="stylesheet" type="text/css" href="/assets/css/archive.css">

<div class="container">
    <div class="main_container">
        <ul class="posts">
            {% for post in site.posts %}
                {% assign author = site.data.authors[post.author] %}
                <li>
                    <div class="title">
                        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        {% if post.subtitle %}
                            <h2>{{ post.subtitle }}</h2>
                        {% endif %}
                    </div>
                    <div class="about">
                        <div class="credit">
                            {% if author %}
                                {% if author.twitter %}
                                    <a href="https://twitter.com/{{ author.twitter }}">{{ author.name }}</a><span>&nbsp;|&nbsp;</span>
                                {% else %}
                                    <span>{{ author.name }}</span><span>&nbsp;|&nbsp;</span>
                                {% endif %}
                            {% endif %}
                            <span title="{{ post.date }}">{{ post.date | date: '%B %d, %Y' }}</span>
                        </div>

                        <div class="excerpt">
                            {{ post.excerpt }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
