_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Downloaded copy of the Scryfall schema to use as a starting point constructing scryfall-filtered-cards.json
_plugins/scryfall-default-cards.json

assets/img/**/original/
