<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="description" content="Hyper Extended - Magic the Gathering">
<meta name="keywords" content="mtg,Magic the Gathering,Hyper Extended">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

{% if site.google_analytics.enabled %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics.id }}');
</script>
{% endif %}
