<div id="scryfall-tooltip" role="tooltip" aria-label="Card image preview">
    <!-- Loading Icon -->
    <div id="scryfall-tooltip-spinner" class="lds-default" role="status" aria-label="Loading card image"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    
    <img id="scryfall-tooltip-image" alt="Card image"/>
    <div id="scryfall-tooltip-dismiss">Dismiss</div>
</div>

<script src="/assets/js/scryfall.js?{{ site.time | date:'%Y%m%d%U%H%N%S' }}"></script>
