---
---

@import "common";

body {
    font-family: $base-font-family;
    background: #F5F5F0;

    padding: 0 2ch;
    margin: 30px auto 200px;
    max-width: 900px;

    @media(max-width: 500px) {
        font-size: 12px;
    }
}

#nav > a {
    margin-right: 1ch;

    &:last-of-type {
        margin-right: 0;
    }
}

a {
    color: black;
    font-weight: bold;
}

p {
    // margin: 0 0 25pt 0;
    text-align: justify;
}

pre {
    font-family: $base-font-family;
    background-color: white;
    border: 1px solid black;
    padding: 1ch 2ch;
    overflow: scroll;
}

h1, h2 {
    font-size: inherit;
    text-transform: uppercase;
    margin-bottom: 0;
}

img {
    border: none;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 45px;
}

#intro {
    .credit {
        margin-bottom: 30px;
    }

    margin-bottom: 30px;
}

content {
    margin-bottom: 30px;
}

.scryfall-hover {
    text-decoration-style: dotted;
}

#set-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 45px;

    a {
        flex: 1;
        min-width: 125px;
        max-width: 125px;

        text-align: center;
        text-decoration: none;
    }

    i {
        display: block;
        margin: 10px auto 5px;
    }
}

#restricted-list {
    a:after {
        content: '\a';
        white-space: pre;
    }

    margin-bottom: 45px;
}
