---
---

@import "common";

body {
    font-family: $base-font-family;
    background: #F5F5F0;

    padding: 0 2ch;
    margin: 30px auto 60px;
    max-width: 1000px;

    @media all and (max-width: 699px) {
        font-size: 4vw;
    }
}

#nav > a {
    margin-right: 1ch;

    &:last-of-type {
        margin-right: 0;
    }
}

a {
    color: black;
    font-weight: bold;
}

p {
    // margin: 0 0 25pt 0;
    text-align: justify;
}

pre {
    font-family: $base-font-family;
    background-color: white;
    border: 1px solid black;
    padding: 1ch 2ch;
    overflow: scroll;
}

h1, h2 {
    font-size: inherit;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}

img {
    border: none;
    width: 100%;
    height: auto;
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 45px;
}

#intro {
    .credit {
        margin-bottom: 30px;
    }

    margin-bottom: 30px;
}

content {
    margin-bottom: 30px;
}

.scryfall-hover {
    text-decoration-style: dotted;
}

#set-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 45px;

    a {
        flex: 1;
        min-width: 125px;
        max-width: 125px;

        text-align: center;
        text-decoration: none;
    }

    i {
        display: block;
        margin: 10px auto 5px;
    }
}

#promo-list {
    a:after {
        content: '\a';
        white-space: pre;
    }
}

#restricted-list {
    a:after {
        content: '\a';
        white-space: pre;
    }

    margin-bottom: 45px;
}

#post-list {
    margin-top: 1em;

    > div {
        margin-bottom: 2ch;
    }

    .date {
        margin-right: 1ch;
    }

    .excerpt {
        font-style: italic;

        p {
            margin-top: 1ch;
            margin-left: 1ch;
            font-size: 90%;
        }
    }
}

#footer {
    margin-top: 50px;
    text-align: center;
}

table {
    border-collapse: collapse;

    th {
        border-bottom: 1px solid black;
    }

    th, td {
        padding: 0 8px;
        text-align: left;
    }
}

.deck {
    display: flex;

    > div {
        flex-grow: 1;
        flex-basis: 150px;
        border-right: 5px solid transparent;
        border-bottom: 10px solid transparent;
    }

    @media (max-width: 1024px) {
        flex-direction: column;

        > div {
            flex-basis: 0;
        }
    }
}

.image-set {
    display: flex;
    flex-direction: column;
}

.image-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;

    img {
        width: auto;
    }
}

.blink {
    animation: blinking 1s step-start infinite;
}

@keyframes blinking {
    50% {
        opacity: 0;
    }
}

.github {
    opacity: 1;
    transition: 0.5s ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}
