---
---

@import "common";

body {
    font-family: $base-font-family;
    background: #F5F5F0;

    padding: 0 2ch;
    margin: 0 auto;
    max-width: 900px;

    @media(max-width: 500px) {
        font-size: 12px;
    }
}

a {
    color: black;
    font-weight: bold;
}

p {
    margin: 0 0 25pt 0;
    text-align: justify;
}

pre {
    font-family: $base-font-family;
    background-color: white;
    border: 1px solid black;
    padding: 1ch 2ch;
    overflow: scroll;
}

h1, h2 {
    font-size: inherit;
    text-transform: uppercase;
    margin-bottom: 0;
}

img {
    border: none;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scryfall-hover {
    text-decoration-style: dotted;
}
