<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <br/>
    <header>
        <div>
            <a href="/" style="text-decoration: none;">Hyper Extended</a>
        </div>
        <div>--------------</div>
        <div id="nav">
            <a href="/">Rules</a>
            <a href="/blog">Blog</a>
            <a href="/feed.xml">RSS</a>
        </div>
    </header>

    <br/>
    <br/>

    <content>
        {{ content }}
    </content>

    {% include scripts.html %}
</body>

</html>
